<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Task View</title>
    <script>
        require("../ViewModels/MainViewModel.js")
    </script>
    <link rel="stylesheet" type="text/css" href="./css/Style.css">
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
</head>

<body>
    <div id="global">
        <div id="year_panel"></div>
    </div><br/>
    <div id="header">
        <div class="inline"><button id="previous-month">Previous</button></div>
        <div class="inline" id="month_header"></div>
        <div class="inline"><button id="next-month">Next</button></div>
    </div>
    <div id="month_view" class="center">

    </div>
    </div>
</body>

</html>