<html>

<head>
    <title>Create Task</title>
    <script>
        require("../ViewModels/TaskCreationViewModel.js")
    </script>
    <link rel="stylesheet" type="text/css" href="./css/Style.css">
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
</head>

<body>
    <form id="taskCreationForm">
        Name: <input type="text" id="name" /> <br/> Date: <input type="date" id="date" /> <br/> Last for(minutes):<input type="text" id="lenght" /> <br/> Time(hour:min): <input type="text" id="time" /><br/>
        <input type="submit" value="create task" />
    </form>
</body>

</html>